[treasuredata]
name=TreasureData
baseurl=http://packages.treasuredata.com.s3.amazonaws.com/{{ td_agent_version }}/redhat/{{ redhat_version }}/\$basearch
gpgcheck=1
gpgkey=https://td-agent-package-browser.herokuapp.com/GPG-KEY-td-agent-old-sha1
